@media (max-width: 993px) {
    .header {
        height: 100px !important;
    }
    .footer-bg, .info-block {
        position: static !important;
    }
    .nav-container {
        margin: 100px auto 20px auto !important;
    }
    #triangle-left {
        visibility: hidden;
    }
}

@media (max-width: 520px) {
    .header {
        height: 200px !important;
    }
    /* .footer-bg, .info-block {
        position: static !important;
    } */
    .nav-container {
        margin: 160px auto 20px auto !important;
    }
}

html, body {
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: #fff;
	background: linear-gradient(0deg, #151827, #294d64, #252c50, #151827);
    background-size: 100% 500%;
    animation: Gradient 200s ease infinite;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header {
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    overflow: hidden;
}

.brand a{
    margin-top: 1em;
    text-decoration: none;
    font-size: 1.4em;
    color: #ebebeb;
}

.brand.bigger a {
    font-size: 1.8em;
}

a.unused {
    color: rgb(199, 199, 199);
}

/* GENERAL NAVIGATION */

.nav-container {
    margin-top: 60px;
    z-index: 2;
}

.nav-content {
    font-family: 'EB Garamond', serif;
    color: black;
    padding: 5px 0;
}

.white-bg {
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
}

#triangle-left { 
    position: absolute;
    top: 95px;
    left: 220px;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent; 
    border-right: 120px solid  rgb(235, 235, 235); 
    border-bottom: 60px solid transparent; 
}

.info-block {
    position: fixed;
    top: 120px;
    bottom: 180px;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto;
    padding: 20px 12px;
}

.thumbs {
    object-fit: cover;
    height: 200px;
}

.profile {
    margin-bottom: 20px;
}

.card-deck {
    margin: 0 auto;
}

.card {
    height: 460px;
    color: black;
    box-shadow: 0 0 3px #000000f5;
}

.card:hover {
    box-shadow: 0 0 3px #000000f5, 0 0 15px #000000f5;
}

.web-card:hover {
    text-decoration: none;
}

.web-card .card:hover {
    color: #0056b3;
}

/* FOOTER */

.footer-bg {
    width: 100%;
    height: 160px;
    background-image: 
        url(../images/rioSky1.png), 
        url(../images/rioSky2.png),  
        url(../images/turinSky2.png),
        url(../images/citySky.png),
        url(../images/citySky.png),
        url(../images/forestSky2.png), 
        url(../images/mountainSky2.png);
    background-position: right bottom, left bottom, center bottom, left bottom, right bottom, center bottom, center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes Gradient {
	0% {
		background-position: 100% 0%
    }
    50% {
        background-position: 100% 400%
    }
	100% {
		background-position: 100% 800%
    }
}

.nav-pills .nav-link.active {
    font-size: 1.3em;
    background-color: transparent;
    font-weight: bold;
    color: rgb(253, 253, 253);
}

.nav-pills .nav-item a{
    font-size: 1.1em;
    color: rgb(197, 197, 197);
    text-transform: uppercase;
}

.carousel-caption {
    position: relative;
    bottom: 0 ;
    right: 0 ;
    left: 0 ;
    background-color: rgb(0, 0, 0);
}